<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/logs">
      <button type="submit">/logs</button>
    </form>

    <form action="/cadastros">
      <button type="submit">/cadastros</button>
    </form>

    <form action="/register">
      <button type="submit">/register</button>
    </form>

    <form action="/verify">
      <button type="submit">/verify</button>
    </form>
  </body>
</html>
