<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        height: 100vh;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
      }
      button {
        font-size: 30px;
        height: 80px;
        width: 180px;
        background-color: black;
        color: white;
      }
      button:hover {
        background-color: rgb(27, 27, 27);
      }
    </style>
  </head>
  <body>
    <form action="/logs">
      <button type="submit">/logs</button>
    </form>

    <form action="/cadastros">
      <button type="submit">/cadastros</button>
    </form>

    <form action="/register">
      <button type="submit">/register</button>
    </form>

    <form action="/verify">
      <button type="submit">/verify</button>
    </form>
  </body>
</html>
