<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-image: url("https://wallpapers.com/images/hd/hacker-mask-logo-full-hd-01y3bvgco7dmyhrv.jpg");
        backdrop-filter: blur(5px);
        background-size: cover;
        color: white;
      }
    </style>
  </head>
  <body>
    <form method="get">
      UID: <input type="text" name="uid" id="" />
      <button type="submit">Procure o UID</button>
    </form>
  </body>
</html>
